{% raw -%}
  {% load static app_tags i18n wagtailuserbar cookie_consent_tags %}
  {% load render_bundle from webpack_loader %}

  <!DOCTYPE html>
  {% get_current_language as LANGUAGE_CODE %}
  <html lang="{{ LANGUAGE_CODE }}">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>
        {% block title %}
        {% endraw -%}
        {{ cookiecutter.project_name }}
        {%- raw %}
        {% endblock title %}
      </title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description"
            content="{% endraw %}{{ cookiecutter.description }}{% raw %}">
      <meta name="author"
            content="{% endraw %}{{ cookiecutter.author_name }}{% raw %}">
      {% if request is not None and self %}
        {# 500 error has no request #}
        {% meta_tags as meta_tags %}
        {% if meta_tags is not None %}{{ meta_tags }}{% endif %}
        {% canonical %}
      {% endif %}
      {% block css %}
        {% render_bundle 'base' 'css' %}
      {% endblock css %}

      {% block extra_css %}
      {% endblock extra_css %}

      {% block javascript %}
        {% render_bundle 'base' 'js' attrs='defer' %}
      {% endblock javascript %}

      {% block extra_js %}
      {% endblock extra_js %}

      {% block cookies %}
        {% include "snippets/base_google_analytics.html" with ID=None %}

        {% if request|cookie_consent_enabled %}
          {% not_accepted_or_declined_cookie_groups request as cookie_groups %}

          {% if cookie_groups %}
            {% url "cookie_consent_cookie_group_list" as url_cookies %}
            {% cookie_consent_accept_url cookie_groups as url_accept %}
            {% cookie_consent_decline_url cookie_groups as url_decline %}

            <script type="text/javascript">
              var cookie_groups = [];

              {% for cookie_group in cookie_groups %}
              cookie_groups.push("{{ cookie_group.varname }}");
              {% endfor %}

              window.consentCookies.init({
                cookieGroups: cookie_groups,
                cookieDecline: "{% get_decline_cookie_groups_cookie_string request cookie_groups %}",
                beforeDeclined: function() {
                    document.cookie = "{% get_decline_cookie_groups_cookie_string request cookie_groups %}";
                }
              });
            </script>
          {% endif %}
        {% endif %}
      {% endblock cookies %}
    </head>

    <body>
      {% wagtailuserbar 'bottom-left' %}
      <main>
        {% block content %}
        {% endblock content %}
      </main>

      {% if cookie_groups %}
        {% include "snippets/base_cookie_consent.html" %}
      {% endif %}

      {% block modal %}
      {% endblock modal %}

      {% block inline_javascript %}
      {% endblock inline_javascript %}
    </body>
  </html>
{%- endraw %}
